<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Courses App</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">

			{{#if isHomePage}}
			<li class="active"><a href="/">Home</a></li>
			{{else}}
			<li><a href="/">Home</a></li>
			{{/if}}

			{{#if isCoursesPage}}
			<li class="active"><a href="/courses">Courses</a></li>
			{{else}}
			<li><a href="/courses">Courses</a></li>
			{{/if}}

			{{#if isAuth}}

			{{#if isCreatePage}}
			<li class="active"><a href="/courses/create">Create a course</a></li>
			{{else}}
			<li><a href="/courses/create">Create a course</a></li>
			{{/if}}

			{{#if isProfilePage}}
			<li class="active"><a href="/profile">Profile</a></li>
			{{else}}
			<li><a href="/profile">Profile</a></li>
			{{/if}}

			{{#if isCartPage}}
			<li class="active"><a href="/cart">Cart</a></li>
			{{else}}
			<li><a href="/cart">Cart</a></li>
			{{/if}}

			{{#if isOrderPage}}
			<li class="active"><a href="/orders">Orders</a></li>
			{{else}}
			<li><a href="/orders">Orders</a></li>
			{{/if}}

			<li>
				<form action="/auth/logout" method="POST">
					<input type="hidden" name="_csrf" value="{{csrf}}">
					<button type="submit" class="btn-link">Log out</button>
				</form>
			</li>


			{{else}}

			{{#if isLoginPage}}
			<li class="active"><a href="/auth/login">Login</a></li>
			{{else}}
			<li><a href="/auth/login">Login</a></li>
			{{/if}}

			{{/if}}
		</ul>
	</div>
</nav>