<h1>Cart</h1>

<div id="cart">
	{{#if courses}}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Count</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
			<tr>
				<td>{{title}}</td>
				<td>{{count}}</td>
				<td>
					<button class="btn js-remove" data-id="{{_id}}" data-csrf="{{@root.csrf}}">Delete</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<p><strong>Total price: </strong><span class="price">{{price}}</span></p>

	<form action="/orders" method="POST">
		<input type="hidden" name="_csrf" value="{{csrf}}">
		<button type="submit" class="btn">Make an order</button>
	</form>
	{{else}}
	<p>Your shopping cart is empty</p>
	{{/if}}
</div>