<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
	<div class="input-field">
		<input name="title" id="title" type="text" class="validate" value="{{course.title}}" required>
		<label for="title">The name of the course</label>
		<span class="helper-text" data-error="Enter the name"></span>
	</div>

	<div class="input-field">
		<input name="price" id="price" type="number" class="validate" min="1" value="{{course.price}}" required>
		<label for="price">The price of the course</label>
		<span class="helper-text" data-error="Enter the price"></span>
	</div>

	<div class="input-field">
		<input name="image" id="img" type="text" class="validate" value="{{course.image}}" required>
		<label for="img">URL of the image</label>
		<span class="helper-text" data-error="Enter the url"></span>
	</div>

	<input type="hidden" name="id" value="{{course.id}}">

	<button class="btn btn-primary">Edit course</button>
</form>